footer {
    padding: 20px 20px 40px;
    p.footer-text {
        text-align: center;
        color: #a7acbc;
        font-family: proxima-nova, sans-serif;
        font-weight: 300;
        font-size: 2vw;
    }
}

@media only screen and (min-width: 720px) {
    footer {
        padding: 40px 40px 80px;
    }
}

@media only screen and (min-width: 1025px) {
    footer {
        padding: 3.13% 0 9.11%;
        p.footer-text {
            font-size: 0.983vw;
        }
    }
}