header {
    background: url('../images/header-bg.png');
    background-position: center center;
    background-size: cover;
    padding: 20px 20px 40px;
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-family: proxima-nova, sans-serif;
        color: #fff;
        font-size: 9.6vw;
        margin-bottom: 80px;
        align-items: baseline;
        h1.logo {
            font-weight: 700;
            font-size: 9.6vw;
            span {
                font-weight: 300;
            }
        }
        .nav {
            display: none;
        }
    }
    .slogan {
        width: 100%;
        font-family: proxima-nova, sans-serif;
        font-size: 10vw;
        color: #fff;
        margin-bottom: 80px;
        h3.slogan-title {
            font-weight: 700;
            text-align: center;
            margin-bottom: 10px;
        }
        h4.slogan-text {
            font-weight: 400;
            text-align: center;
            color: rgba(255,255,255,.6);
            line-height: 1.667;
        }
    }
    .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        .btn {
            padding: 15px 20px;
            border-radius: 25px;
            font-family: proxima-nova, sans-serif;
            font-size: 4.8vw;
            font-weight: 300;
            &.ask {
                color: #d32721;
                background: #fff;
                display: flex;
                align-items: center;
            }
            &.watch {
                color: #fff;
                border: 1px solid #fff;
                display: flex;
                align-items: center;
                i.fa {
                    font-size: 7vw;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 720px) {
    header {
        padding: 40px 40px 80px;
        .header {
            font-size: 4.5vw;
            margin-bottom: 120px;
            h1.logo {
                font-size: 4.5vw;
            }
        }
        .slogan {
            font-size: 4.8vw;
            margin-bottom: 120px;
            h3.slogan-title {
                font-size: 4.8vw;
                margin-bottom: 15px;
            }
            h4.slogan-text {
                font-size: 4.8vw;
            }
        }
        .buttons {
            .btn {
                padding: 20px 25px;
                border-radius: 30px;
                font-size: 3.75vw;
                &.ask {
                    margin-right: 15px;
                }
                &.watch {
                    margin-left: 15px;
                    i.fa {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    header {
        width: 100%;
        padding: 0;
        padding-bottom: 560px;
        .container {
            width: 69.95%;
            max-width: 1440px;
            margin: 0 auto;
            .header {
                padding-top: 3.72%;
                margin-bottom: 16.38%;
                h1.logo {
                    font-size: 1.875vw;
                }
                i.fa {
                    display: none;
                }
                .nav {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    a {
                        text-decoration: none;
                        color: #fff;
                        cursor: pointer;
                        font-size: 0.938vw;
                        margin-right: 30px;
                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }
            .slogan {
                margin-bottom: 60px;
                h3.slogan-title {
                    font-size: 2.5vw;
                    margin-bottom: 25px;
                }
                h4.slogan-text {
                    font-size: 0.938vw;
                }
            }
            .buttons {
                .btn {
                    padding: 15px;
                    font-size: 0.938vw;
                    &.ask {
                        margin-right: 25px;
                    }
                    &.watch {
                        margin-left: 0;
                        i.fa {
                            font-size: 0.938vw;
                        }
                    }
                }
            }
        }
    }
}