header {
    background: url('/images/header-bg.png');
    background-position: center center;
    background-size: cover;
    padding: 20px 20px 40px;
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-family: proxima-nova, sans-serif;
        color: #fff;
        font-size: 9.6vw;
        margin-bottom: 80px;
        h1.logo {
            font-weight: 700;
            font-size: 9.6vw;
            span {
                font-weight: 300;
            }
        }
    }
    .slogan {
        width: 100%;
        font-family: proxima-nova, sans-serif;
        font-size: 4.8;
        color: #fff;
        margin-bottom: 80px;
        h3.slogan-title {
            font-weight: 700;
            text-align: center;
            margin-bottom: 10px;
        }
        h4.slogan-text {
            font-weight: 400;
            text-align: center;
            color: rgba(255,255,255,.6);
        }
    }
    .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        .btn {
            padding: 15px 20px;
            border-radius: 25px;
            font-family: proxima-nova, sans-serif;
            font-size: 4.8vw;
            font-weight: 300;
            &.ask {
                color: #d32721;
                background: #fff;
                margin-right: 5px;
                display: flex;
                align-items: center;
            }
            &.watch {
                color: #fff;
                border: 1px solid #fff;
                margin-left: 5px;
                display: flex;
                align-items: center;
                i.fa {
                    font-size: 7vw;
                    margin-right: 10px;
                }
            }
        }
    }
}