section#icons {
    background: #f6f6f6;
    padding: 40px 20px;
    .boxes {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .box {
            margin-bottom: 30px;
            font-family: proxima-nova, sans-serif;
            text-align: center;
            .image-wrapper {
                margin-bottom: 15px;
            }
            .icon-title {
                margin-bottom: 15px;
                font-size: 8vw;
                font-weight: 700;
                background: -webkit-linear-gradient(75deg, rgba(203,0,53,1) 0%, rgba(224,105,0,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .icon-description {
                font-size: 4.8vw;
                color: #5e6372;
            }
        }
    }
    .ask-btn {
        width: 50%;
        margin: 0 auto;
        background: #2b4a9b;
        color: #fff;
        padding: 15px 20px;
        border-radius: 25px;
        text-align: center;
        font-family: proxima-nova, sans-serif;
        font-size: 4.8vw;
        font-weight: 300;
    }
}

@media only screen and (min-width: 720px) {
    section#icons {
        padding: 80px 40px;
        .boxes {
            .box {
                margin-bottom: 60px;
                .image-wrapper {
                    margin-bottom: 30px;
                }
                .icon-title {
                    margin-bottom: 30px;
                    font-size: 6vw;
                }
                .icon-description {
                    font-size: 3.75vw;
                }
            }
        }
        .ask-btn {
            padding: 20px 25px;
            border-radius: 30px;
            font-size: 3.75vw;
        }
    }
}

@media only screen and (min-width: 1025px) {
    section#icons {
        padding: 100px 0;
        .container {
            width: 69.95%;
            max-width: 1440px;
            margin: 0 auto;
            .boxes {
                flex-direction: row;
                justify-content: space-between;
                align-items: baseline;
                margin-bottom: 100px;
                .box {
                    margin-bottom: 0;
                    .image-wrapper {
                        margin-bottom: 15px;
                    }
                    .icon-title {
                        font-size: 1.563vw;
                        margin-bottom: 25px;
                    }
                    .icon-description {
                        font-size: 0.938vw;
                    }
                }
            }
            .ask-btn {
                width: 14.89%;
                font-size: 0.938vw;
            }
        }
    }
}