section#info {
    background: #fff;
    padding: 40px 20px;
    .info-header {
        font-family: proxima-nova, sans-serif;
        margin-bottom: 20px;
        h3.header-title {
            font-size: 10vw;
            font-weight: 700;
            background: -webkit-linear-gradient(75deg, rgba(203,0,53,1) 0%, rgba(224,105,0,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 10px;
        }
        p.header-text {
            font-size: 6.25vw;
            font-weight: 400;
            color: #5e6372;
        }
    }
    .points {
        margin-bottom: 20px;
        .point {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            &:last-of-type {
                margin-bottom: 0;
            }
            .left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: 20px;
                .circle {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: 2px solid #c7cde0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        font-family: proxima-nova, sans-serif;
                        font-size: 4.8vw;
                        color: #3f4e76;
                    }
                }
            }
            .right {
                margin-right: 0;
                margin-left: auto;
                p {
                    font-family: proxima-nova, sans-serif;
                    font-size: 3.733vw;
                    color: #a7acbc;
                }
            }
        }
    }
    .img-wrapper {
        position: relative;
        right: -20px;
        img {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 720px) {
    section#info {
        padding: 80px 40px;
        .info-header {
            margin-bottom: 40px;
            h3.header-title {
                margin-bottom: 20px;
                font-size: 6vw;
            }
            p.header-text {
                font-size: 3.75vw;
            }
        }
        .points {
            margin-bottom: 40px;
            .point {
                margin-bottom: 40px;
                .left {
                    margin-right: 40px;
                    .circle {
                        width: 50px;
                        height: 50px;
                        span {
                            font-size: 3.75vw;
                        }
                    }
                }
                .right {
                    p {
                        font-size: 2.5vw;
                    }
                }
            }
        }
        .img-wrapper {
            right: -40px;
        }
    }
}

@media only screen and (min-width: 1025px) {
    section#info {
        padding: 80px 0;
        overflow: hidden;
        display: flex;
        .container {
            width: 69.95%;
            max-width: 1440px;
            padding-left: 15.63%;
            display: inline-block;
            .info-header {
                margin-bottom: 55px;
                h3.header-title {
                    font-size: 2.5vw;
                    margin-bottom: 25px;
                }
                p.header-text {
                    font-size: 0.938vw;
                    line-height: 2;
                }
            }
            .points {
                display: grid;
                grid-template-rows: 100px 100px 100px;
                grid-template-columns: 45% 45%;
                grid-row-gap: 20px;
                grid-column-gap: 20px;
                .point {
                    justify-content: flex-start;
                    align-items: baseline;
                    margin-bottom: 0;
                    .left {
                        margin-right: 30px;
                        .circle {
                            width: 45px;
                            height: 45px;
                            span {
                                font-size: 1.25vw;
                            }
                        }
                    }
                    .right {
                        margin-left: 0;
                        p {
                            font-size: 0.938vw;
                            text-align: left;
                            line-height: 1.714;
                        }
                    }
                    &.one {
                        grid-column: 1 / 1;
                        grid-row: 1 / 2;
                    }
                    &.two {
                        grid-column: 1 / 1;
                        grid-row: 2 / 2;
                    }
                    &.three {
                        grid-column: 1 / 1;
                        grid-row: 3 / 3;
                    }
                    &.four {
                        grid-column: 2 / 2;
                        grid-row: 1 / 1;
                    }
                    &.five {
                        grid-column: 2 / 2;
                        grid-row: 2 / 2;
                    }
                }
            }
        }
        .img-wrapper {
            display: inline-block;
            right: 0;
            bottom: -100px;
            width: 60%;
            img {
                width: 100%;
            }
        }
    }
}

  