section#map {
    .img-wrapper {
        background: url('/images/map-bg.png');
        background-position: center center;
        background-size: cover;
        width: 100%;
        min-height: 200px;
    }
}