section#newsletter {
    padding: 40px 20px;
    background: url('../images/newsletter-bg.png');
    background-size: cover;
    background-position: center center;
    h3.newsletter-title {
        font-family: proxima-nova, sans-serif;
        font-size: 6vw;
        font-weight: 700;
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
    }
    .newsletter-input {
        margin: 0 auto;
        font-family: proxima-nova, sans-serif;
        display: flex;
        justify-content: center;
        position: relative;
        left: 20px;
        .input-field {
            display: inline;
            width: 40%;
            border: 1px solid #fff;
            padding: 15px;
            border-radius: 25px;
            color: #fff;
            background: transparent;
            &::placeholder {
                color: #fff;
            }
        }
        .send-btn {
            position: relative;
            background: #fff;
            border-radius: 25px;
            padding: 15px;
            right: 40px;
            color: #d32721;
            font-weight: 300;
        }
    }
}

@media only screen and (min-width: 720px) {
    section#newsletter {
        padding: 80px 40px;
        h3.newsletter-title {
            font-size: 3.75vw;
            margin-bottom: 40px;
        }
        .newsletter-input {
            left: 40px;
            .input-field {
                width: 30%;
                padding: 20px;
            }
            .send-btn {
                z-index: 3;
                padding: 20px;
                right: 60px;
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    section#newsletter {
        padding: 7.81% 0 10.42%;
        width: 100%;
        h3.newsletter-title {
            font-size: 2.5vw;
            margin-bottom: 2.34%;
        }
        .newsletter-input {
            margin: 0 auto;
            padding: 0;
            left: 0;
            justify-content: flex-start;
            width: 20.83%;
            .input-field {
                padding: 15px 30px;
                border-radius: 30px;
                font-size: 0.983vw;
                width: 100%;
                position: relative;
                left: 20px;
            }
            .send-btn {
                cursor: pointer;
                border-radius: 30px;
                padding: 15px 30px;
                width: 33.75%;
                font-size: 0.983vw;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 20px;
            }
        }
    }
}